<h2>Ticket</h2>
<ul>
  <li><strong>ID Ticket:</strong> {{ ticket.idTicket }}</li>
  <li><strong>ID Cliente:</strong> {{ ticket.idCliente }}</li>
  <li><strong>ID Agente Asignado:</strong> {{ ticket.idAgenteAsignado }}</li>
  <li><strong>ID Estado Ticket:</strong> {{ ticket.idEstadoTicket }}</li>
  <li><strong>ID Categoría Ticket:</strong> {{ ticket.idCategoriaTicket }}</li>
  <li><strong>Título:</strong> {{ ticket.tituloTicket }}</li>
  <li><strong>Descripción:</strong> {{ ticket.descripcionTicket }}</li>
  <li><strong>Prioridad:</strong> {{ ticket.prioridadTicket }}</li>
  <li><strong>Ubicación:</strong> {{ ticket.ubicacionTicket }}</li>
  <li><strong>Departamento:</strong> {{ ticket.departamentoTicket }}</li>
  <li><strong>Fecha de Creación:</strong> {{ ticket.fechaHoraCreacionTicket }}</li>
  <li><strong>Fecha de Actualización:</strong> {{ ticket.fechaHoraActualizacionTicket }}</li>
</ul>
